<header class="header" id="top">
	<div class="container">
		<div class="header__inner">
			<div class="logo">
				<img src="assets/images/logo.svg" alt="">
			</div>
			<nav class="header__menu menu">
				<ul>
					<li><a href="#">Company</a></li>
					<li><a href="#">For Sellers</a></li>
					<li><a href="#">For Investors</a></li>
				</ul>
				<div class="sign_in">
					<div class="button-border-wrap">
						<button>
							<span class="gradient_text">SIGN UP</span>
						</button>
					</div>
				</div>
			</nav>
			<div class="burger">
				<div class="burger__inner">
					<div class="burger__menu"></div>
				</div>	  
			</div>
		</div>
	</div>
</header>
